@font-face {
	font-family: 'Siddhanta';
	src: url('../fonts/siddhanta.ttf');
	unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF;
    
}
@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode.ttf');
}
@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode-Bold.ttf');
    font-weight: bold;
}
@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode-Italic.ttf');
    font-style: italic;
}
@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}